@import "tailwindcss";

@theme{
    --color-background-100: rgb(46,52,64);
    --color-background-200: rgb(59,66,82);
    --color-background-300: #5e81ac;
    --color-background-400: #eceff4;
    --color-background-500: #d8dee9;
    --color-text-100: #e5e9f0;
    --color-text-200:#88c0d0;
    --color-text-300: #373d49;
    --color-text-400:#5e81ac;
    --breakpoint-3xl: 1450px;
    --breakpoint-4xl: 836px;
    --breakpoint-5xl: 450px;
}
#d8dee9

.my-scrollbar {
    @apply overflow-y-auto;
  }
  
  .my-scrollbar::-webkit-scrollbar {
    @apply w-2.5;
  }
  
  .my-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent rounded-full;
  }
  
  .my-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-[#7e8088] rounded-full;
  }




